# ignore dot files/directories
.*
!.gitignore

*.autosave
*.pyc
*.user
*~
Thumbs.db
tags
tegra/
bin/
*.sdf
*.opensdf
*.obj
*.stamp
*.depend
*.rule
*.tmp
*/debug
*.suo
*.log
*.tlog
build
node_modules
CMakeSettings.json
xcuserdata/


custombuild/modules/core/opencv_test_core.dir/Debug/opencv_test_cored.ilk
custombuild/modules/world/opencv_test_core.dir/Debug/opencv_test_cored.ilk